/*encabezado de las paginas*/
html{
    
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    background-color:#1d1003;
    height: 100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 1000;
}

nav{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    width: 50%;
    display: flex;
    margin-left: 4%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    width: 150px;
    text-align: center;
    
}

.links a:hover {
    animation:moverarriba 0.3s ease forwards;
    
}


nav img {
  width: 250px;
  height: 75px;
  padding-right: 10%;
}

a{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@media(max-width: 780px){
   nav img {
    max-width: 100px;
    height: auto;
    padding-right: 20px;
    
    }

    .links a{
    font-size: 15px;
    }

    .links {
    margin-left: 50px;
    gap: 20px;
    }

    
}
@media(max-width: 450px) {
    nav img{
        display: none;
       
    }

    nav{
        align-items: center;
        justify-content: center ;
        margin: 0;
        padding: 0;
        
    }
    .links{
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0px;
    }
}

@keyframes moverarriba{
    from{
        transform: translateY(0);
       
    }
    to{
        transform: translateY(-5px); 
       
        
    }
}




/*Fin de header*/


/*inicio de body*/
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    /* solo bloquea scroll horizontal */
    overflow-x: hidden;
    
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("Imagenes/Escritorio4K.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(5px);
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: darken;
}


/*Fin del body*/

/*Inicio del main*/
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}



/*Texto de main*/
.descripcion{
    width: 50%;
    margin: 10px;
    text-align: center;
    color: white;
    animation: aparicionespontanea 2s ease;
}
/*Decoraciones del Texto*/
h1{ 
  font-size:clamp(3rem, 7vw, 5rem); /* adaptable a pantalla */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 1.1; /* espacio entre líneas */
  text-shadow: 10px 2px 8px rgba(0,0, 0, 1);
}
    

h2{
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-shadow: 10px 2px 8px rgba(0,0, 0, 3);
}

/*Carrusel parte inicio*/
.contenedor-carrusel{
    position: relative;
    width:50%;
    padding-left: 10px;
    margin: 10px;
    animation: aparicionespontanea 2s ease;

}

.carrusel {
    display: flex;
    width: 100%;
    gap: 20px;
    overflow-x: hidden;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    padding: 20px;
    z-index: 1; 
}


#next, #prev {
    position: absolute;
    top: 50%;
    border: none;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    opacity: 0;
    
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

.contenedor-carrusel:hover  #prev{
    animation: aparicionespontanea 0.3s forwards;
}
.contenedor-carrusel:hover  #next{
   animation: aparicionespontanea 0.3s forwards;
}

@keyframes aparicionespontanea{
    from{
        transform: translatey(10px);
        opacity: 0;
    }
    to{
        transform: translatey(0px);
        opacity: 1;
    }
}
/* ocultar barra fea */
.carrusel::-webkit-scrollbar {
    display: none;
}

.element {
    flex: 0 0 600px;
    height: 500px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    scroll-snap-align: center;
    color: white;
}

.element img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 15px;
}
h3{
    text-align: center;
    color: white;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: 10px 4px 8px rgba(0,0, 0, 1);
}

h4{
  font-size: 25px ;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 10%;
  margin-top: 12px;
}
p{
    font-size: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 12px;
}
.fila-card{
    display: flex;
    width: 90%;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #1d100362;
    border-radius: 20px;
}
.card{
    width: 300px;
    height: 350px;
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
}

.card-front{
    background: white;
}

.card-back{
    background: #2c1b10;
    color: white;
    transform: rotateY(180deg);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.card-front img{
    object-fit:cover;
    width: 100%;
    height: 100%;

}

@media(max-width:1100px){
    .main{
      flex-direction: column;
    }
    

    .descripcion{
        width: 100%;
        padding: 0;
    }

    h1{
        font-size: 50px;
    }
    h3{
        margin-bottom: 0;

    }
    .descripcion p{
        font-size: 14px;
    }
    .carrusel {
      width: 98%;
      gap: 10px;
      padding: 5px
    }
    .contenedor-carrusel{
      width:100%;
      
    }

    .element {
       flex: 0 0 350px;
    }

    .element img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    #prev {
     left: 30px;

    }

    #next {
     right: 30px;
    
    }
}

/*Inicio Footer*/
footer{
    position: relative;
    background-color:#1d1003;
    height: 100%;
    width: 100%;
}
.primerfooter{
    text-align: center;
    color: white;
    padding: 20px;
}
.redessociales {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.img1{
    width: 50px;
    border-radius: 12px;  
}


.textofooter{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
   
}

.textofooter h2{
   color: white;
   text-decoration: underline;
}
.textofooter p{
    color: white;
}

iframe{
    min-width: 300px;
    min-height: 250px;
    border-radius: 10px;
}

*{
    box-sizing: border-box;
}

@media(max-width: 780px){
   .textofooter{
   width: 100%;
    
   }
   .Ubicacion {
    display: none;
   }

   .contenedor-carrusel{
    margin-bottom: 30px;
   }
   .fila-card{
    flex-direction: column;
   }
   .card{
    width: 90%;
   }
}

